# folders
examples/output/*
dist/*
logs/*
dist/*
build/*

# python
**/.venv/*
**/env/
*.env/
**/__pycache__/*
**/ares.egg-info/*
**/ARES.egg-info/*
*.pyc
*.pyo
**/.zed/*
.python-version

# coverage
.coverage
.coverage.*
htmlcov/

# datasource
*.mf4
*.mat
*.parquet

# compilation artefacts
**/*.so

# others
*.log
*.spec

# vim dev
.session.vim

# exceptions
!examples/data/*.mf4
!examples/data/*.mat
!examples/data/*.parquet
