name: Example Pipeline

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Print system information
        run: |
          echo "Running on Linux"
          uname -a

      - name: Run examples
        run: |
          make examples

      - name: Clean up
        run: |
          make clean
